body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.component-tile-container {
  flex-grow: 1;
  flex-shrink: 1;
  --tile-width: min(500px, 80vw);
  --tile-gap: min(40px, 3vw);
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  position: relative;
}

.component-tile {
  --padding: 12px;
  scroll-snap-align: center;
  flex-basis: var(--tile-width);
  flex-grow: 0;
  flex-shrink: 0;
  overflow-y: scroll;
  border-radius: 5px;
  background-color: #2432;
  margin-right: var(--tile-gap);
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: var(--padding);
  position: relative;
  --initial-scroll-offset: calc(50% - (0.5 * var(--tile-width)) - var(--tile-gap));
}

.component-tile:first-child {
  margin-left: var(--initial-scroll-offset);
}

.component-tile:last-child {
  margin-right: var(--initial-scroll-offset);
}

.component-tile h2 {
  --negative-padding: calc(-1 * var(--padding));
  margin: var(--negative-padding) var(--negative-padding) 0 var(--negative-padding);
  padding: var(--padding);
  background-color: #6112;
  text-align: center;
}
.component-tile h3 img {
  width: 5em;
}
.component-tile h3 span {
  line-height: 5em;
  margin-right: auto;
}

.component-tile h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.component-tile__item-date {
  color: gray;
  margin-right: 1em;
}
