::root {
  --color-one: #091353;
  --color-two: #9D84B7;
  --color-three: #D5D5D5;
  --color-four: #B2F9FC;
}
body {
  background-color: var(--color-four);
}

body label::after {
  content: "\A";
  white-space: pre;
}
