:root {
  --color-one: #091353;
  --color-two: #9D84B7;
  --color-three: #D5D5D5;
  --color-four: #B2F9FC;
  --width: min(100vw, 360px);
}

body {
  background-color: var(--color-four);
  font-size: 24px;
  margin: auto;
  width: var(--width);
}

body h1 {
  margin-bottom: 0;
}

body input {
  vertical-align: middle;
}

body label {
  width: 90%;
  display: inline-block;
  white-space: nowrap;
  line-height: 36px;
  vertical-align: middle;
}

body label::after {
  content: "\A";
  white-space: pre;
}

body input:not(:checked) ~ #success {
  display: none;
  opacity: 0;
  transition: opacity 8s ease;
}

body #success {
  width: unset;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-three);
  text-align: center;
  line-height: 100vh;
  opacity: 0.9;
  transition: opacity 8s ease;
}

body #success svg {
  width: var(--width);
  height: auto;
}
body #success span {
  display: inline-block;
}

body #success-checkbox {
  opacity: 0;
}

