:root {
  --color-one: #091353;
  --color-two: #9D84B7;
  --color-three: #D5D5D5;
  --color-four: #B2F9FC;
  --width: min(100vw, 360px);
  --font-size: 24px;
}

/* National Park Typeface: https://nationalparktypeface.com/ */
/* this font is published under SIL Open Font License: https://nationalparktypeface.com/License */
@font-face {
    font-family: 'National Park';
    src: url('fonts/NationalPark-Regular.woff2') format('woff2'),
        url('fonts/NationalPark-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'National Park';
    src: url('fonts/NationalPark-Thin.woff2') format('woff2'),
        url('fonts/NationalPark-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'National Park';
    src: url('fonts/NationalPark-Heavy.woff2') format('woff2'),
        url('fonts/NationalPark-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

body {
  background-color: var(--color-four);
  font-size: var(--font-size);
  margin: auto;
  width: var(--width);
  font-family: 'National Park';
  text-transform: lowercase;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 64px;
}

body h1 {
  margin-bottom: 0;
}

body h2 {
  margin-bottom: 0;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

body input {
  display: none;
}

body label {
  width: 90%;
  display: inline-block;
  white-space: nowrap;
  line-height: 36px;
  vertical-align: middle;
}

body label::after {
  content: "\A";
  white-space: pre;
}

body input:not(:checked) ~ #success {
  display: none;
  opacity: 0;
  transition: opacity 8s ease;
}

body #success {
  width: unset;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-three);
  text-align: center;
  line-height: 100vh;
  opacity: 0.9;
  transition: opacity 8s ease;
}

body #success svg {
  width: var(--width);
  height: auto;
}

body #success svg text {
  text-transform: none;
}

body #success span {
  display: inline-block;
}

input:not(:checked) + .list-item > svg:nth-of-type(2) {
  display: none;
}

input:checked + .list-item > svg:nth-of-type(1) {
  display: none;
}

.list-item > svg {
  position: relative;
  width: var(--font-size);
  height: var(--font-size);
  top: 4px;
}

input:not(:checked) ~ #reset {
  display: none;
}

#reset {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

#reset > * {
  margin: auto;
}

#reset svg {
  width: 32px;
}
